extends layout

block content
    - var displayPath = currentUrl.slice(1)
    h2 #{displayPath}
    main
        if currentUrl !== "/" && currentUrl !== ""
            h1 Task List
            input#newTaskInput(type="text" placeholder="Describe the goal")
            button#newTaskInputButton(onclick=`addTask("${currentUrl}")`) Add New Task
            ul
                if tasks 
                    each task in tasks
                        li
                            p
                                if (task.status === "done")
                                    | ✅ 
                                    s
                                        | #{task.text}
                                else
                                    | #{task.status} ▶️
                                    b 
                                        | #{task.text}
                            button(style="margin-left: 20px" onclick=`deleteTask("${currentUrl}", ${task.id})`) Delete
                            input(type="checkbox" checked=task.status === "done" onchange=`checkTask("${currentUrl}", ${task.id})`)
        else
            input#newListInput(type="text" placeholder="New/GoTo User")
            button#newListInputButton(onclick=`createList("${linkRoot}")`) Create List